<% if @category.errors.any? %>
  <%= render 'shared/error', object: @category %>
<% end %> 
<div class='well'>
<%= form_for @category do |f| %>
  <div class="control-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br/>
  <%= f.submit(@category.new_record? ? 'New Category' : 'Update Category', class:'btn btn-success') %>
<% end %>
</div>